:root {
    --primary-color: #040d13;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

.nav-bar {
    min-height: 3rem;
    background-color: #fff;
    background-color: transparent;
}

.nav-bar .navbar-nav .nav-item:hover {
    outline: none;
    background-color: transparent;
}

.nav-bar .navbar-nav .nav-item:active,
.nav-bar .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    padding: 25rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%, #000 80%), url('../assets/images/sky_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.profile-name {
    font-size: 3.5rem;
    margin: 2rem;
    color: #fff;
}


/* NAV BAR */

.nav-bar {
    padding-right: 3.0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-bar-links li {
    list-style: none;
}

.nav-bar-links li a {
    display: block;
    text-decoration: none;
    padding: 1.3rem;
    font-size: 35px;
    color: #fff;
}

.nav-bar-links li a:hover {
    color: rgb(141, 141, 141);
}

.nav-bar-links .nav-item a:hover {
    color: #0b8be0!important
    /* background-color: aqua; */
}

.welcome-msg {
    font-size: 50px;
    color: #192939
}

.contact-btn {
    font-size: 20px;
    border: .2rem solid #53325a;
}

.contact-btn:hover {
    background-color: #478adc;
    color: #fff;
}

.toggle-button {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    top: 1.5rem;
    right: 1rem;
}

.toggle-button .bar {
    height: 2px;
    width: 100%;
    border-radius: 2rem;
    background-color: #000;
}

.container {
    background-color: #fff5f5;
    margin: 0!important;
    padding: 0!important;
}

.place-holder {
    padding: 0;
    width: 30%;
    background-color: rgb(255, 255, 255);
}

.profile-pic img {
    margin-top: 2rem;
    border: 1px solid #eaebec;
    box-shadow: rgba(255, 255, 255, 0.849) 0px 5px 15px;
}


/* Project Section*/

.section {
    color: #fff5f5;
    font-size: 25px;
    padding: 3rem 5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.title {
    flex: 1 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-right: #5d405f solid .3rem;
    padding: 0 3.5rem;
}

.projects-section {
    max-width: 100%;
}

.content {
    flex: 2 75%;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    margin-left: 1.5rem;
}

.project-content {
    margin: 0 8px 0 8px;
}

.project-content img {
    background-size: cover;
    border: 6px solid #295d9d;
    border-radius: 1rem;
    opacity: .8;
    transition: opacity 150ms ease-in-out;
}

.project-name {
    position: absolute;
    cursor: none;
    pointer-events: none;
    background-color: #080909e7;
    border-radius: .4rem;
    padding: .5rem;
    border: .5px solid rgba(176, 175, 175, 0.686);
    opacity: .8;
}

.project-content img:hover {
    opacity: 1;
    box-shadow: 0px 2px 25px rgba(255, 255, 255, .99);
}

.profile-name:hover {
    opacity: 1;
}

.contact-me a,
.footer-logo {
    font-size: 21px;
    color: white!important;
}

.contact-me a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }
    .nav-bar-links {
        display: none;
        width: 100%;
    }
    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-bar-links ul {
        flex-direction: column;
        width: 100%;
    }
    .nav-bar-links li {
        text-align: center;
    }
    .nav-bar-links li a {
        padding: .5rem 1rem;
        font-size: 30px;
        color: rgb(1, 124, 232);
    }
    .nav-bar-links.active {
        display: flex;
    }
    .main-image img {
        height: 100vh;
        width: 100vW;
    }
}
